.filters-menu{
    background-color: white;
    height: 15%;

}
.filters-menu-el{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin-top: 5rem;
}


.filters-menu-el label{
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: rem;
    font-size: 1.8rem;
    font-weight: 700;
}
.filters-menu-el input{
    font-size: 1.6rem;
}
.filters-menu-el select{
    margin-right: 5rem
}
.price-range{
    display: flex;
    margin-right: 2rem;
}
.price-range input{
    width: 8rem;
    
}
.filters-button{
    display: block;
    background-color: gray;
    border-radius: 7px;
    width: fit-content;
    margin: 5rem auto;
}
.filters-button p{
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
    color: black;

}
.filters-button p:hover{
    color: white;
}