.user-div{
    background-color: black;
    height: 90vh;
    text-align: center;
    padding-top: 10rem;
}
.user-div h1{
    text-align: start;
    padding-left: 20rem;
    font-size: 3.2rem;
}

.div-section{
    display: flex;
    width: 80%;
    gap: 30rem;
}
.div-elements label{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 20rem;
}

.user-info-table{
    background-color: white;
    width: 500px;
    border-radius: 20px;
}

.user-info-table tr{
    font-size: 1.6rem;
}