.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-list{
    margin: auto;
}
.logo-text{
    text-align: center;
    margin-top: 2rem;
}
.footer img{
    display: block;
    width: 20rem;
    margin: 8rem auto 4rem auto;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
}
.contact p{
    margin: auto auto auto 0;
}
.contact img{
    width: 24px;
    height: 24px;
    color: var(--coloraccent);
    margin:auto;
}
table{
    background-color: var(--coloraccent);
    height: 100%;
    width: 20rem;
}
table td{
    display: block;
    text-align: center;
    padding: 1.5rem;
    
}

.filtertabela{
    border-radius: 5px;
    border: solid white;
}
.footer-links{
    background-color: var(--coloraccent);
    padding: 3rem 4rem;
    margin: auto;
}
.footer-links p{
    text-align: center;
}
.footer-links a{
    color: white;
    font-size: 1.6rem;
}