.productsDashboard{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.productsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
}